name: neba-management-backend
services:
  neba.api:
    container_name: neba-api
    image: neba.api
    build:
      context: ../..
      dockerfile: src/backend/Neba.Api/Dockerfile
    ports:
      - "5150:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Docker
      - GoogleDocs__Credentials__PrivateKeyId=${GOOGLE_DOCS_PRIVATE_KEY_ID}
      - GoogleDocs__Credentials__PrivateKey=${GOOGLE_DOCS_PRIVATE_KEY}
      - GoogleDocs__Credentials__ClientEmail=${GOOGLE_DOCS_CLIENT_EMAIL}
      - GoogleDocs__Credentials__ClientId=${GOOGLE_DOCS_CLIENT_ID}
      - GoogleDocs__Credentials__ClientX509CertUrl=${GOOGLE_DOCS_CLIENT_X509_CERT_URL}
    depends_on:
      - neba.db
    networks:
      - neba-network

  neba.db:
    container_name: neba-db
    image: postgres:17.6
    environment:
      - POSTGRES_DB=bowlneba
      - POSTGRES_USER=neba
      - POSTGRES_PASSWORD=neba
    volumes:
      - neba-db-data:/var/lib/postgresql/data
      - ./.docker:/docker-entrypoint-initdb.d:ro
    ports:
      - 19630:5432
    networks:
      - neba-network

networks:
  neba-network:
    driver: bridge

volumes:
  neba-db-data:
