name: neba-management-backend
services:
  neba.api:
    container_name: neba-api
    image: neba.api
    build:
      context: ../..
      dockerfile: src/backend/Neba.Api/Dockerfile
    ports:
      - "5200:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Docker

