name: neba-management-backend
services:
  neba.api:
    image: neba.api
    build:
      context: .
      dockerfile: Neba.Api/Dockerfile
    ports:
      - "5100:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080

